{% extends 'main/base.html' %}

{% block title%}
    Добавить новый артикул
{%endblock%}
<div class="container">
    {% block content%}
        <br>
        {% if submit%}
            <center>
                <h1> Изменение добавлено </h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'status' %}" type="button" class="btn btn-primary">Перейти к списоку изменений</a>
                </div>
            </center>
        {%else%}
            <div class="container">
                <h1> Заявка на изменение сырья</h1>
                <form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    {{form}}
                    <br>
                    <input type="submit" value=Добавить class="btn btn-primary">
                </form>
                <div>
        {%endif%}
    {%endblock%}
</div>