{% extends 'main/base.html' %}

{% block title%}
Добавить новый артикул
{%endblock%}

{% block content%}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Текущий артикул</label>
        <input type="text" class="form-control_addpage" id="exampleFormControlInput1" placeholder="Введите артикул SAP">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Новый артикул</label>
        <input type="text" class="form-control_addpage" id="exampleFormControlInput1" placeholder="Введите артикул SAP">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Тип материала</label>
        <input type="text" class="form-control_addpage" id="exampleFormControlInput1" placeholder="Защитная пленка">
    </div>
    <form>
        <div class="form-group">
            <label for="inputDate">Дата письма</label>
            <br>
            <input type="date" class="form-control-date-addpage" width="20%">
        </div>
    </form>

    <div class="col-12">
        <button class="btn btn-primary" id="add" type="submit"> Добавить </button>
    </div>
</body>
{%endblock%}