{% extends 'main/base.html' %}

{% block title%} 
Добавить МК
{%endblock%}
<br>
{% block content%}
<div class="container">
<h1> Создание Маршрутной карты</h1>
</div>
<br>
{% if submit%}
МК создана
{%else%}
<div class="container">
    <form method="POST" action = "{% url 'add_sku' %}" enctype="multipart/form-data">
     {% csrf_token %}   
     <br>
      {{form}}
<br>
            <input type="submit" value = Добавить class="btn btn-primary">
         
      </form>
<div>
      {%endif%}
{%endblock%}
