{% extends 'main/base.html' %}

{% block title%}
    Добавить МК
{%endblock%}
<br>
{% block content%}

    <br>
    {% if submit%}
        <center>
            <h1> Маршрутная карта создана </h1>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'list_sku' %}" type="button" class="btn btn-outline-primary">Перейти к списоку готовой продукции</a>
            </div>
        </center>
    {%else%}
        <div class="container">
            <h1> Создание Маршрутной карты</h1>
            <form method="POST" action="{% url 'add_sku' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                {{form}}
                <br>
                <input type="submit" value=Добавить class="btn btn-outline-primary">

            </form>
            <div>
    {%endif%}
{%endblock%}