{% extends 'main/base.html' %}

{% block title%} 
Список сырья
{%endblock%}

{% block content%}

<div class="container">
    <form method="POST" action = "{% url 'add_raw' %}">
     {% csrf_token %}   
        <div class="row g-3">
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Артикул" name="num">
            </div>
            <div class="col-sm">
              <input type="text" class="form-control" placeholder="Наименование" name="name">
            </div>
            <div class="col-sm">
              <input type="text" class="form-control" placeholder="Слой" name="layer">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
          </div>
      </form>
      <br>
      <div class="container">
    <table class="table table-bordered">

    {% for raw in raws %}
    <thead>
        <tr>
            <td>{{ raw.num }}</td>
            <td>{{ raw.name }}</td>
            <td>{{ raw.layer }}</td>
            <td >
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/" type="button" class="btn btn-primary" >Перейти</a>
                    </div>
             </td>
             </tr>
             </thead>
    {% endfor %}
    </table>
    </div>
{%endblock%}
