{% extends 'main/base.html' %}

{% block title%}
Список артикулов сырья
{%endblock%}

{% block content%}
{% if raws %}
<br>
<div class="container">
    <table class="table table-bordered">
        {% for raw in raws %}
        <thead>
            <tr>
                <td>{{ raw.num }}</td>
                <td>{{ raw.name }}</td>
                <td>{{ raw.layer }}</td>
                <td align="right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'update_raw' raw.id %}" type="button" class="btn btn-primary">Изменить</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'delete_raw' raw.id %}" type="button" class="btn btn-primary">Удалить</a>
                    </div>
                </td>
            </tr>
        </thead>
        {% endfor %}
    </table>
</div>
{% else %}
<br>
<center>
<h1> Нет сырья в системе </h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'add_raw' %}" type="button" class="btn btn-primary">Добавить сырье</a>
</div>
{% endif %}
{%endblock%}