{% extends 'main/base.html' %}

{% block title%}
Список артикулов сырья
{%endblock%}

{% block content%}
{% if raws %}
<br>
<center>
<h1> Cписок артикулов сырья: </h1>
</center>
<br>
<br>
<div class="container">
    <table id="example" class="table table-bordered" style="width:100%">
    
        <thead>
            <tr style="font-weight:bold">
                <td>Артикул</td>
                <td>Наименование</td>
                <td>Слой</td>
                <td>Действие</td>
            </tr>
        </thead>
            <tr>
                {% for raw in raws %}
                <td>{{ raw.num }}</td>
                <td>{{ raw.name }}</td>
                <td>{{ raw.layer }}</td>
                <td align="right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'update_raw' raw.id %}" type="button" class="btn btn-primary">Изменить</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'delete_raw' raw.id %}" type="button" class="btn btn-primary">Удалить</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
       
    </table>
</div>
{% else %}
<br>
<center>
<h1> Нет сырья в системе </h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'add_raw' %}" type="button" class="btn btn-primary">Добавить сырье</a>
</div>
{% endif %}
{%endblock%}