{% extends 'main/base.html' %}

{% block title%} 
Список артикулов
{%endblock%}

{% block content%}
<br>
<div class="container">
<table class="table table-bordered">
{% for sku in skus %}
<thead>
    <tr>
        <td>{{ sku.num }}</td>
        <td>{{ sku.name }}</td>
        <td >
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'show_sku' sku.id %}" type="button" class="btn btn-primary" >Просмотреть</a>
                </div>
         </td>
         </tr>
         </thead>
{% endfor %}
</table>
</div>
{%endblock%}
