{% extends 'main/base.html' %}

{% block title%}
    Список артикулов ГП
{%endblock%}

{% block content%}
    {% if skus %}
        <br>
        <center>
            <h1> Cписок артикулов маршрутных карт: </h1>
        </center>
        <br>
        <div class="container">
            <table class="table table-bordered">

                <thead>
                    <tr style="font-weight:bold">
                        <td>Артикул</td>
                        <td>Наименование</td>
                        <td>Действие</td>
                        <td>Действие</td>
                        <td>Действие</td>
                    </tr>
                    <tr>
                        {% for sku in skus %}

                            <td>{{ sku.num }}</td>
                            <td>{{ sku.name }}</td>
                            <td align="right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{% url 'show_sku' sku.id %}" type="button" class="btn btn-primary">Просмотреть</a>
                                </div>
                            </td>
                            <td align="right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{% url 'update_sku' sku.id %}" type="button" class="btn btn-primary">Изменить</a>
                                </div>
                            </td>
                            <td align="right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{% url 'delete_sku' sku.id %}" type="button" class="btn btn-primary">Удалить</a>
                                </div>
                            </td>
                            </tr>
                        {% endfor %}

                    </thead>

                </table>
            </div>
    {% else %}
        <br>
        <center>
            <h1> Нет маршрутных карт в системе </h1>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'add_sku' %}" type="button" class="btn btn-primary">Добавить маршрутную карту</a>
            </div>
    {% endif %}
{%endblock%}