{% extends 'main/base.html' %}

{% block title%} 
Список артикулов сырья
{%endblock%}

{% block content%}
<div class="container">
<table class="table table-bordered">
{% for raw in raws %}
<thead>
    <tr>
        <td>{{ raw.num }}</td>
        <td>{{ raw.name }}</td>
        <td>{{ raw.layer }}</td>
        <td >
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/" type="button" class="btn btn-primary" >Удалить</a>
                </div>
         </td>
         </tr>
         </thead>
{% endfor %}
</table>
</div>
{%endblock%}
