<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
    @font-face {
        font-family: "Alice-Regular";
        src: url("/static/fonts/Alice-Regular.ttf") format("truetype");
    }
    @page{
        size: 'A4';
        margin: 1.5cm 1.5cm 1.5cm 1.5cm;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
    thead {
       border-bottom: .2mm solid #a9a;
        color: #a9a;
        font-size: 10pt;
        font-weight: 400;
        padding-bottom: .25cm;
        text-transform: uppercase;
      }
      tr {
        color: #000;
        font-size: 10pt;
        font-weight: 400;
        text-transform: uppercase;
      }
      

    body {
        font-family: "Alice-Regular";
        font-size: 20px
    }
    img {
        height: 650px;
    }
</style>

{% load static %}
<body>
    <pdf:language name="ru">
        
        <h2>Маршрутная карта 
            <br> {{ sku.type.name}}
            <br>{{sku.num}} {{sku.name}} </h2>
        
        <h3>Вес продкции: {{sku.weight}} гр</h3>
        
        <h3>Чертеж: </h3>
        {%if sku.photo%}
        <img src="{{sku.photo.url}}" alt=" "  >
        {%else%}
        Нет чертежа продкуции
        {%endif%}

        <br>
        <h3>Сырье:</h3>
        <table class="table table-bordered">
            <thead>
                <tr style="font-weight:bold">
                    <td>Артикул</td>
                    <td>Наименование</td>
                    <td>Слой</td>
                   
                </tr>
            </thead>
                {% for raw in sku.raw.all %}
                    <tr>
                        <td>{{ raw.num }}</td>
                        <td>{{ raw.name }}</td>
                        <td>{{ raw.layer }}</td>
                {% endfor %}
            </tr>
        
        </table>
    </div>
</body>
</html>
