
Артикул {{sku.num}} {{sku.name}}

<body>
    <br>
    <div class="container">
        <h1>Маршрутная карта для выпуска подукции <br>{{sku.num}} {{sku.name}} </h1>
        <br>
        <h3>Вес продкции: {{sku.weight}} гр</h3>
        <br>
        <h3>Чертеж: </h3>
        {%if sku.photo%}
            <img src="{{sku.photo.path}}" height="500 px">
        {%else%}
            Нет чертежа продкуции
        {%endif%}

        <br>
        <h3>Сырье:</h3>
        <table class="table table-bordered">
            <thead>
                {% for raw in sku.raw.all %}
                    <tr>
                        <td>{{ raw.num }}</td>
                        <td>{{ raw.name }}</td>
                        <td>{{ raw.layer }}</td>
                    </td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</body>

</html>
