{% extends 'main/base.html' %}

{% block title%}
    Артикул {{sku.num}} {{sku.name}}
{%endblock%}

{% block content%}

    <body>
        <br>
        <div class="container">
            <h1>Маршрутная карта
                <br> {{ sku.type.name}}
                <br>{{sku.num}} {{sku.name}} </h1>
            <br>
            <h3>Вес продкции: {{sku.weight}} гр</h3>
            <br>
            <h3>Чертеж: </h3>
            {%if sku.photo%}
                <img src="{{sku.photo.url}}" height="200 px" alt="">
            {%else%}
                Нет чертежа продкуции
            {%endif%}

            <br>
            <h3>Сырье:</h3>
            <table class="table table-bordered">
                <thead>
                    <tr style="font-weight:bold">
                        <td>Артикул</td>
                        <td>Наименование</td>
                        <td>Слой</td>
                    </tr>
                    {% for raw in sku.raw.all %}
                        <tr>
                            <td>{{ raw.num }}</td>
                            <td>{{ raw.name }}</td>
                            <td>{{ raw.layer }}</td>
                    {% endfor %}
                </tr>
            </thead>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'update_sku' sku.id %}" type="button" class="btn btn-primary">Изменить</a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'delete_sku' sku.id %}" type="button" class="btn btn-primary">Удалить</a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'pdf_sku' sku.id %}" type="button" class="btn btn-primary">Напечатать МК</a>
        </div>
    </div>
    <br>  <br>  <br>
    </body>

    </html>
{%endblock%}