{% extends 'main/base.html' %}

{% block title%} 
Артикул
{%endblock%}

{% block content%}
<body>
    <div class="container">
        <h2>Артикул {{sku.num}} {{sku.name}} . Сырье для внесения:</h2>
       
        <table class="table table-bordered">
            <thead>
                {% for raw in sku.raw.all %}
            <tr>
                <td>{{ raw.num }}</td>
                <td>{{ raw.name }}</td>
                <td >
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" type="button" class="btn btn-primary" >Выполнено</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </thead>
        </table>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#" type="button" class="btn btn-primary" >Напечатать МК</a>
        </div>
</body>
</html>
{%endblock%}


 
   