{% extends 'main/base.html' %}

{%block title%} 
Главная станица
{%endblock%}

{%block content%}  
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    
    <div class="col">
      <div class="card h-100">
        <div class="card-header">  / </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Created: </small>
        </div>
      </div>
    </div>
    
</div>
{% endblock %}

