{% extends 'main/base.html' %}

{%block title%} 
Главная станица
{%endblock%}

{%block content%}  
<!-- cards status  -->
<div class="container">
<table class="table">

    <tbody>
    <tr>
        <th scope="row">
            <div class="card">
                <h5 class="card-header">RF020117/RF020118</h5>
                <div class="card-body">
                    <h5 class="card-title">Защитная пленка</h5>
                    <p class="card-text">Линия NU1 NU2</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                    </div>
                    <a href="Find.php" class="btn btn-primary">Перейти к списку ГП</a>
                </div>
            </div>
        </th>
        <td>
            <div class="card">
                <h5 class="card-header">RN030036/RN030045</h5>
                <div class="card-body">
                    <h5 class="card-title">Нетканый материал</h5>
                    <p class="card-text"> Линия JBD</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 7%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                    <a href="#" class="btn btn-primary">Перейти к списку ГП</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <h5 class="card-header">RN030035/RN030046</h5>
                <div class="card-body">
                    <h5 class="card-title">Нетканый материал</h5>
                    <p class="card-text">Линия JBD</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                    </div>
                    <a href="#" class="btn btn-primary">Перейти к списку ГП</a>
                </div>
            </div>
        </td>
      <td>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </th>
        <td>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
{%endblock%}